@font-face {
    font-family: 'Sans Sara';
    src: url('sans-sara.ttf')
}

body {
    background-color: rgb(217, 236, 218);
}

#logo {
    font-family: 'Sans Sara', cursive;
    position: relative;
    font-size: 75px;
    color:  rgb(80, 127, 113);
    display: inline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.top-menu {
    margin: auto;
}

#top-menu {
    display: inline;
    position: relative;
    right: 0px;
    top: 0px;
    margin: auto 0 auto auto;
}

.menu-item {
    display: inline;
    color: rgb(80, 127, 113);
    font-family: 'Sans Sara', cursive;
    padding-bottom: 5px;
    transition: .5s;
    font-size: 25px;
}

.menu-item a {
    padding-bottom: 2px;
    transition: .2s;
}

/* Body CSS */
.number {
    color: rgb(80, 127, 113);
    font-family: 'Sans Sara', cursive;
    display: inline;
    position: relative;
    font-size: 30px;
}

.section {
    color: rgb(80, 127, 113);
    font-family: 'Sans Sara', cursive;
    display: inline;
    position: relative;
    font-size: 50px;
    margin-left: 20px;
}